@media screen and (max-width: 768px) {
  .contact {
    position: fixed;
    width: 250px;
    height: 100%;
    z-index: 10;
    transition: 0.3s;
  }
  .contact.active {
    transform: translate(-250px);
  }
  .toggle {
    display: grid;
    opacity: 1;
  }
}
